<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQ0kGXJ8eUkT7P2GbLCXX06SxWOvPxob4</string>
	<key>GCM_SENDER_ID</key>
	<string>829138089755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miaged</string>
	<key>PROJECT_ID</key>
	<string>miaged-quentin-guillou</string>
	<key>STORAGE_BUCKET</key>
	<string>miaged-quentin-guillou.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829138089755:ios:b58a473a420c910648c5be</string>
</dict>
</plist>